---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div style="display: flex;flex-direction: column;align-items: center;">
    <div class="banner">
      <img class="pfp" src="/imgs/logo.png" alt="Profile Picture" />
      <div>
        <h1 class="name">Night Network</h1>
      </div>
    </div>
    <br />
    <br />
    <p class="description">
      Welcome to Night Network. At Night, We specialize in Web Software
      Development.
    </p>
    <div class="about-me">
      <div class="about">
        <h1 class="name">About Us:</h1>
        <p class="description">
          Night Network is a group of developers who specialize in Web Software
          Development. We are a group of developers who are passionate about
          what we do. We are always looking for new developers to join our team.
        </p>
        <div class="item">
        </div>
      </div>

      <div class="more">
        <div class="item">
          <h1 class="name">Our Mission:</h1>
          <p class="description">
            Our Mission is to provide the best software and services to our
            users.
          </p>
        </div>
      </div>
    </div>
	<h1 class="name">Socials</h1>
          <div class="socials-container">
            <a href="https://github.com/NightProxy/"
              ><img class="social" src="/imgs/socials/gh-white.svg" /></a
            >
            <a href="https://www.youtube.com/@Night-X-Network"
              ><img class="social" src="/imgs/socials/yt.svg" /></a
            >
            <a href="mailto:support@night-x.com"
              ><img class="social" src="/imgs/socials/email.svg" /></a
            >
            <a href="https://discord.night-x.com"
              ><img class="social" src="/imgs/socials/discord.svg" /></a
            >
          </div>
  </div>
</Layout>
