---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="container">
        <h1 class="name">Our Discord Server Boosters:</h1>
        <ul class="list">
          <li>crllect</li>
          <li>gengar0183</li>
          <li>unfunne</li>
          <li>amplify.dev</li>
          <li>bearcatttt</li>
          <li>kay.is.gay</li>
          <li>pumpkininthedeadofnight</li>
          <li>sivsome</li>
          <li>willy_wonka_the_2th</li>
        </ul>
        <h1 class="name">Donators</h1>
        <ul class="list">
          <li>none</li>
        </ul>
  
        <h1 class="name">Support Us!</h1>
        <p class="description">You can also support us by keeping the ads setting toggled on for our sites!</p>
        <div class="socials-container">
          <a href="https://cash.app/$NightXNetwork"><img class="social" src="/imgs/support/cashapp.svg" /></a>
          <a href="https://paypal.me/N1ghtNetwork"><img class="social" src="/imgs/support/paypal.svg" /></a>
          <a href="https://account.venmo.com/u/Night-Network"><img class="social" src="/imgs/support/venmo.svg" /></a>
          <a href="https://www.patreon.com/NightNetworkX"><img class="social" src="/imgs/support/patreon.svg" /></a>
          <!--<a href=""><img class="social" src="/imgs/support/ko-fi.svg" /></a>
          <a href=""><img class="social" src="/imgs/support/buymeacoffee.svg" /></a>-->
        </div>
      </div>
</Layout>